<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Upgrading Angular</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<style>
			@font-face {
  			font-family: "fira";
  			src: url("fonts/FiraCode-Regular.woff2") format("woff2");
			}
			@font-face {
  			font-family: "fira";
				src: url("fonts/FiraCode-Bold.woff2") format("woff2");
				font-weight: bold;
			}

			html.dim .backgrounds .present .slide-background-content {
				filter: opacity(50%);
			}

			.notes {
				display: none;
			}

			body {
				--blue-hue: 194;
				--blue: hsl(var(--blue-hue), 76%, 55%);
				--background-blue: hsl(var(--blue-hue), 50%, 80%);
				--red: hsl(21, 100%, 71%);
				--green-hue: 120;
				--green: hsl(var(--green-hue), 70%, 71%);
			}
			.reveal .slides > section.present.horizontal, 
				.reveal .slides > section > section.present.horizontal,
				.reveal .slides section.horizontal {
				flex-direction: row;
				justify-content: flex-start;
			}
			.reveal .slides > section.present.top-align,
				.reveal .slides > section > section.present.top-align,
				.reveal .slides section.top-align {
					justify-content: flex-start;
				}

			.reveal *.problem {
				color: var(--red);
			}
			.reveal *.solution {
				color: var(--green);
			}

			.reveal section code, .reveal section .text {
				font-size: 60px;
			}
			
			.reveal section code {
				font-family: fira, monospace;
			}

			.reveal .complete {
				opacity: .6;
			}

			.reveal section pre code {
				font-size: 42px;
				line-height: 1.1;
				padding: .5em;
			}

			div.attribution {
				color: rgba(255, 255, 255, .6);
				font-size: 20px;
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: rgba(3, 3, 3, .2);
				padding: .8em;
				border-radius: 5px;
			}

			.fragment.highlight-blue.visible .hljs-string,
					pre code .fragment.highlight-blue.visible {
				color: var(--blue);
				background: var(--background-blue);
			}

			.reveal .slides section .fragment.dim, .reveal .slides section .fragment.strikethrough {
				opacity: 1;
				visibility: inherit;
			}
			.reveal .slides section .fragment.dim.visible * {
				transition: all .2s ease;
			}
			.reveal .slides section .fragment.dim.visible *:not(.hljs-params) {
				opacity: .5;
			}
			.reveal .slides section pre code.fragment.dim.visible {
				color: hsla(0, 0%, 86%, .5);
			}
			.reveal .slides section .fragment.dim .fragment {
				visibility: inherit;
				opacity: inherit;
			}
			.reveal .slides section .fragment.dim .fragment.current-fragment,
				.reveal .slides section .fragment.dim .fragment.current-fragment .hljs-attribute,
				.reveal .slides section .fragment.dim .fragment.current-fragment .hljs-string,
				.reveal .slides section .fragment.dim .fragment.current-fragment .hljs-params {
				color: var(--blue);
				opacity: 1;
			}
			.reveal .slides section .fragment.visible.strikethrough {
				text-decoration: line-through;
			}

			.reveal section ul {
				list-style-type: '\1F449';
			}

			.reveal section ul li {
				padding-left: .5em;
			}

			.right-arrow::after {
				content: '->';
				font-family: fira;
			}

			img.contrast {
				filter: drop-shadow(2px 2px 3px hsla(0, 0%, 100%, .4))
			}

		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Updating your AngularJS App</h1>
					<div style="font-size: 2em">(without the tears)</div>

					<div class="notes">
						AngularJS vs Angular
					</div>
				</section>
				<section>
					<style>
						#shine-logo {
							box-shadow: 0 0 80px 10px #3A393B;
							width: 50%;
							padding-right: 40%;
						}
					</style>
					<img id="shine-logo" src="images/shine-solutions-logo-dark.png" alt="shine solutions">
					<img src="images/OzEnergy.png" style="margin-left: 50%" />
					<div class="notes">
						- senior developer & thought leader at Shine Solutions
						- consulting at a major Australian electricity retailer who decline to be named
						- which is a shame, because I think we've ended up with something they should be proud of
					</div>
				</section>

				<section>
					<ul class="pointers">
						<li>Angular 1.4</li>
						<li>Embedded in JSP</li>
						<li>Built with Maven</li>
						<li>Hopeless mess</li>
					</ul>
					<div class="notes">
						- suffered from similar problems to many legacy enterprise apps - devs whose experience isn't in JavaScript
						- incredibly common
					</div>
				</section>
	
				<section>
					<img src="images/long-controller.png" alt="">
				</section>

				<section>
					<img src="images/no-encapsulation.png" alt="">
				</section>

				<section>
					<img src="images/javascript-idioms.png" alt="">
					<div class="notes">
						What was special: EA recognised issue and decided to fix it
					</div>
				</section>

				<section>
					<h2>Problems</h2>
					<ol>
						<li>Security vulnerabilities</li>
						<li>Bad developer experience</li>
					</ol>
				</section>

				<section data-background-image="images/jail-cell.jpg">
					<h2 class="problem">Security Vulnerabilities</h2>
					<div class="notes">
						Brad to business - data breaches & $$
					</div>
				</section>

				<section>
					<style>
						#dependency-check {
							background: hsla(0, 0%, 100%, 0.12);
							padding: 1em;
							box-shadow: 1px 1px 8px hsla(0, 0%, 0%, .4);
						}
					</style>
					<img id="dependency-check" src="images/dependency-check.svg" alt="">
					<div class="notes">
						Jenkins plugin
						Says Java, .NET on the website 
						Finds JS dependencies though
					</div>
				</section>

				<section>
					<code>npm audit</code>
					<div class="notes">npm v6</div>
				</section>

				<section>
					<ul>
						<li style="list-style-type: '😳'">6 high severity</li>
						<li style="list-style-type: '😧'">31 medium severity</li>
						<li style="list-style-type: '😕'">18 low severity</li>
					</ul>
					<div class="notes">
						(just in JavaScript code)
						mostly XSS vulnerabilities & CSP bypasses, CORS requests able to run, HTML escaping	
						tech lead presented to business about the risks of data breaches
						used a bunch of really scary numbers
						enough to make security our number one priority - NO MORE RELEASES UNTIL VULNS PATCHED!
						which was nice in theory
					</div>
				</section>
	
				<section data-background-image="images/locked-jailcell.jpg" data-state="dim">
					<h2 class="solution">Improved Security</h2>
				</section>

				<section class="horizontal" style="justify-content: space-around">
					<img src="images/upgrade-all-the-things.png" alt="">
					<ul>
						<li>Node/NPM</li>
						<li>AngularJS</li>
						<li>All dependencies</li>
					</ul>
					<div class="notes">
						Node to 8/6, mostly so we could get the latest tools
						AngularJS to 1.7
						dependencies to the latest we could - there were some limitations
						THE most difficult thing we did. Took several months.
					</div>
				</section>

				<section>
					<div class="text">APIs change.</div>
					<div class="notes">
						Especially if you don't update for four years
					</div>
				</section>

				<section>
					<pre><code class="html">&lt;datepicker
  ng-model="objDate"
  starting-day="1"
  format-month="MMM"
  show-weeks="false"
  min-date="minDate"
  max-date="maxDate"
  data-datepickertype="inline"&gt;
&lt;/datepicker&gt;
					</code></pre>
					<pre class="fragment"><code class="html">&lt;div
  uib-datepicker 
  ng-model="$ctrl.date" 
  datepicker-options="$ctrl.opts"&gt;
&lt;/div&gt;
					</code></pre>
					<div class="notes">
						0.13.3 of bootstrap => 2.5.6
						much stuffing around
					</div>
				</section>

				<section>
					<h2>Good tests are essential</h2>
					<div class="notes">
						test behaviour not implementation
						need to know what your app is trying to achieve, not the steps it took to get there
					</div>
				</section>

				<section>
<pre><code class="js" style="font-size: inherit">it('should add a new phone number', () => {
 const phone = { type: 'MOBILE', number: '0412345678' }
 ctrl.addPhoneNumber(phone);

 expect(ctrl.updatePhoneTypeToSelect).toHaveBeenCalled();
 expect(ctrl.setPhoneNumberLabel).toHaveBeenCalled();
});
</code></pre>
				</section>

				<section>
<pre><code class="js" style="font-size: 40px;">
expect(ctrl.func1).toHaveBeenCalled();
expect(ctrl.func2).toHaveBeenCalled();		 
</code></pre>

<pre class="fragment"><code class="js" style="font-size: 40px;">expect(ctrl.phoneTypes).toContain('MOBILE');
expect(phone.label).toBe('Mobile (2)');	 
</code></pre>
					<div class="notes">
						- things are still going to break when the external APIs change 
						but at least you'll know what your app was trying to achieve rather 
						than just what it was doing
					</div>
				</section>

				<section>
					<h3>The bad news</h3>
					<div class="notes">
						Realistically, though, upgrading the dependencies of a very old app is going to be hard 
						Take a lot of effort. Stuff will be missing/broken.
						Having good tests will help, but it's going to be hard to right them retroactively.
						Upgrading a library at a time _might_ help (we did everything at once), but often dependency chains are going to make that impossible
					</div>
				</section>

				<section>
					<h3>The good news</h3>
					<div class="notes">
						You don't really need to keep everything up to date
						You can stop this from happening to the next devs (or yourself in the future)
					</div>
				</section>

				<section>
					<h3 class="solution">Break the build<br> for<br> security vulnerabilities</h3>
					<div class="notes">
						we do it using the dependency check plugin mentioned earlier 
						but there's an even easier way
					</div>
				</section>

				<section>
					<img style="width: 80vw;" class="contrast"  src="images/sonarqube.png">
				</section>

				<section data-background-image="images/crying.jpg" data-state="dim">
					<h2 class="problem">Terrible Developer Experience</h2>
					<div class="notes">
						Can't have a good app if we don't have good devs 
						Can't get (and keep) good devs if they have to work on a pile of shit
					</div>
				</section>

				<section>
					<pre><code style="font-size: inherit">
var premiseLocation = null;
angular.forEach(this.accounts,
 angular.bind(this, function (location) {
  angular.forEach(
   location.accounts,
   angular.bind(this, function(account) {
    if (account.number == this.accountId) {
      premiseLocation = location;
    }
   })
  );
 })
);
					</code></pre>
					<div class="notes">code base is incredibly dated</div>
				</section>

				<section>
<pre><code class="js" style="font-size: inherit">
var modules = [
 modulesPath + "jquery/dist/jquery.js",
 modulesPath + "autofill-event/autofill-event.js",
 modulesPath + "angular/angular.js",
 modulesPath + "bootstrap/dist/js/bootstrap.min.js",
 modulesPath + "d3/d3.min.js",
 modifiedModulesPath + "angular-payments/lib/angular-payments.min.js",
 modifiedModulesPath + "nvd3/build/nv.d3.js",
 modulesPath + "angular-animate/angular-animate.js",
 modulesPath + "angular-aria/angular-aria.js",
 modulesPath + "angular-ui-bootstrap/ui-bootstrap-tpls.js",
 modulesPath + "angular-cookies/angular-cookies.js",
 modulesPath + "angular-nvd3/dist/angular-nvd3.js",
 modulesPath + "angular-sanitize/angular-sanitize.js",
 modulesPath + "angular-shims-placeholder/dist/angular-shims-placeholder.js",
 modulesPath + "angular-touch/angular-touch.js",
 modulesPath + "angular-ui-router-breadcrumbs/dist/angular-ui-router-breadcrumbs.js",
 modulesPath + "angular-ui-router/release/angular-ui-router.js",
 modulesPath + "matchmedia-ng/matchmedia-ng.js",
 modulesPath + "matchmedia-polyfill/matchMedia.addListener.js",
 modulesPath + "matchmedia-polyfill/matchMedia.js",
 modulesPath + "moment/min/moment.min.js",
 modulesPath + "ng-csv/build/ng-csv.js",
 modulesPath + "ng-idle/angular-idle.js",
 modulesPath + "ng-joyride/ng-joyride.js",
 modulesPath + "spin.js/spin.js",
];
</code></pre>					
					<div class="notes">
						- manual gulp build instead of proper dependency management
						- single angular module, so it doesn't matter what order all the JS is imported 
						- made testing in isolation hard, but nothing in the app was isolated anyway
					</div>
				</section>

				<section>
					<pre><code class="bash" data-noescape>
<span style="color: teal">app</span><span style="color: hsl(344, 98%, 34%)">|</span><span style="color: hsl(100, 50%, 40%)">develop</span> <span style="color: teal">⇒</span> ls components
<span style="font-size: 20px">_components.scss               card-mask                      identification-fields          qas
accessible                     checkbox                       is-desktop                     qt2
accordion-panel                concession-card                is-logged-in                   quote
account-balance                confirmation-modal             life-support                   return-home-button
account-heading                constants                      link                           rewards
account-holders                contact-details                live-chat                      rpo
account-payment-plan           creditcard-type                location-state                 scroll-to-top
account-premise-trim           currency                       logging                        session-timeout
account-select                 date-entry                     login                          show-back-button
account-type                   date-range-filter              login-form                     sidebar-modal
accounts                       device-detection               logout                         spaceless-filter
address-concat                 direct-debit                   maintenance                    spinnable
address-input                  direct-debit-form              max-value                      street-types
admin                          direct-debit-form-rpo          mhbills                        token-auth-interceptor
agent                          double-click                   min-value                      upsell-panel
anchor-smooth-scroll           eaexpiry-filter                movers                         usage
authorization-http-interceptor error-http-interceptor         now                            usages-modal
autofill-event                 events                         oam                            validation
bill-header                    federation                     omniture                       velocity-validator
blank-string-filter            fibre                          password-reset                 view-more-less
bundle                         filtered-dropdown              payment                        web-chat
button-with-icon               focus-input                    phone-number-input             when-account-loaded
calendar-countdown             form-submit                    phone-numbers                  words-filter
capitalize                     forms                          plan-details                   yes-or-no-modal
carbon-neutral                 icon                           profile</span>
					</code></pre>
				</section>

				<section>
					<div class="text">Everything in global state</div>
				</section>

				<section data-background-image="images/birthday.jpg" data-state="dim">
					<h2 class="solution">Better Developer Experience</h2>
				</section>

				<section>
					<ul>
						<li style="list-style-type: none" class="fragment">🏗️Move to modern framework🏗️</li>
						<li style="list-style-type: none" class="fragment">🔥Burn the old codebase in a fire 🔥</li>
					</ul>
					<div class="notes">
						You should be looking at a path away from AngularJS altogether as it will go out of support
						30/6/2021. which is not as far away as it sounds.
					</div>
				</section>

				<section>
					<style>
						#frameworks-grid {
							width: 100%;
							height: 100%;
							display: grid;
							justify-items: center;
						}	
					</style>
					<div id="frameworks-grid">
						<img src="images/React-icon.svg" style="grid-row: 1 / 3">
						<img src="images/angular.svg" style="grid-row: 3 / 5; margin-right: -80%">	
						<img src="images/Vue-logo.svg" style="grid-row: 2 / 4; height: 80%">
					</div>
				</section>
	

				<section>
					<img src="images/angular.svg" alt="">		
					<div class="notes">
						-- considered other frameworks
						-- obvious upgrade path
						-- lots of other apps in Angular, share resources
						-- devs not experienced in JS	
					</div>
				</section>

				<section class="horizontal">
					<style>
						.ng-upgrade {
							position: relative;
						}
						.reveal .heart {
							--side: 200px;
							width: var(--side);
							height: var(--side);
							transform: rotate(.125turn);
							background-color: pink;
							flex-shrink: 0;
							top: 20px;
							left: 20px;
							position: relative;
						}
						.heart::before, .heart::after {
							--side: 100%;
							--offset: calc(var(--side) / -2);
							content: '';
							display: block;
							width: var(--side);
							height: var(--side);
							position: relative;
							border-radius: 50%;
							background-color: inherit;
						}
						.heart::before {
							top: var(--offset);
						}
						.heart::after {
							left: var(--offset);
							top: calc(-1 * var(--side));
						}
					</style>
					<img src="images/AngularJS.svg" style="width: 390px; top: 12px; margin-left: 40px;" class="ng-upgrade">
					<div class="heart"></div>
					<img src="images/angular.svg" style="width: 520px;" class="ng-upgrade">		
					<code style="position: absolute; left: calc(50% - 4.5ch); top: 500px">ngUpgrade</code>
					<div class="notes">
						-- allows you to run AngularJS and Angular code side-by-side 
						-- diagram/description of how it works in longer talk maybe
						-- relatively straightforward, if you're coming from a modern codebase 
						-- if you're doing it now, you're probably not coming from a modern codebase 
						   so there are some things you need to be aware of
					</div>
				</section>

				<section data-background-image="images/marie-kondo.jpg" data-state="dim">
					<h1>Tidying Up</h1>
					<div class="notes">
						-- the most straightforward bit
					</div>
				</section>

				<section>
					<ul class="text">
						<li class="fragment highlight-blue">Valid HTML</li>
						<li>Explicit dependencies</li>
					</ul>
					<div class="notes">
						-- Angular converts your HTML into JavaScript and back again 
						-- Not forgiving like the browser - HTML must be well-formed and valid
					</div>	
				</section>

				<section>
					<pre><code>&lt;div class="section-icon-circle"/&gt;</code></pre>
					<div class="notes">
						-- might seem obvious, but we didn't do this
						-- for some reason - heaps of self-closing div tags, not valid 
						-- took me ages to work out what Angular was complaining about
					</div>
				</section>

				<section>
					<ul class="text">
						<li class="complete">Valid HTML</li>
						<li class="fragment highlight-blue">Explicit dependencies</li>
					</ul>
					<div class="notes">
						Angular dependency injection requires that you pass the name of your dependencies
					</div>
				</section>
	
				<section>
					<pre><code data-noescape>
var myService = [
 <span class="fragment highlight-blue">'$http', 
 '$q',</span>
 function (<span class="fragment highlight-blue">$http, $q</span>) { ... } 
];
					</code></pre>
					<div class="notes">
						-- this turns out to be quite tedious, so some clever person came up with a way to do it automatically
					</div>
				</section>

				<section>
					<code>ng-annotate</code>
					<div class="notes">
						-- problem is, this tool is now deprecated, and there isn't an obvious replacement
						-- there is a webpack loader, but it doesn't work nicely with Angular CLI
					</div>
				</section>

				<section>
						<pre><code class="fragment strikethrough" data-fragment-index="0">
var myService = [
  '$http', 
  '$q',
  function ($http, $q) { ... } 
];</code></pre>
						<pre><code class="fragment" data-fragment-index="0">
var myService = 
	function ($http, $q) { ... } 
						</code></pre>
																							
				</section>

				<section>
					<h2>Manual annotation</h2>
					<div class="notes">
						-- bit inconvenient, but the idea here is that we're not going to write AngularJS code going forward
						-- run ng-annotate against your source files, rather than build files
					</div>
				</section>

				<section>
					<div>source files <span class="right-arrow"></span> built file <span class="right-arrow"></span> annotated built file</div>
				</section>

				<section>
					source files 🔄 annotated files 
				</section>

				<section>
					<style>
						.reveal section code.bash {
							font-size: 30px;
							width: 97%;
							text-align: left;
						}
						code.bash:not(:last-of-type) {
							margin-bottom: 60px;
						}
					</style>
					<code class="bash">ng-annotate -a my-service.js -o my-service.js</code>
					<code class="bash fragment">find . -type f -iname '*.js' -exec ng-annotate -a {} -o {} \;</code>
				</section>

				<section data-background-image="images/switch.jpg" data-state="dim">
					<h2>Switching to TypeScript</h2>
					<div class="notes">
						-- use tsc or Angular CLI 
						-- CLI is less work overall, but has to be done kind of in one big chunk 
						-- setup steps are the same either way
					</div>
				</section>

				<section data-background-image="images/shipping-containers.jpeg" data-state="dim">
					<h3>Setup ES Modules</h3>
				</section>

				<section>
					<pre><code class="js">
var modules = [
 modulesPath + "jquery/dist/jquery.js",
 modulesPath + "autofill-event/autofill-event.js",
 modulesPath + "angular/angular.js",
 modulesPath + "bootstrap/dist/js/bootstrap.min.js",
 modulesPath + "d3/d3.min.js",
 modifiedModulesPath + "angular-payments/lib/angular-payments.min.js",
 modifiedModulesPath + "nvd3/build/nv.d3.js",
 modulesPath + "angular-animate/angular-animate.js",
 modulesPath + "angular-aria/angular-aria.js",
 modulesPath + "angular-ui-bootstrap/ui-bootstrap-tpls.js",
 modulesPath + "angular-cookies/angular-cookies.js",
 modulesPath + "angular-nvd3/dist/angular-nvd3.js",
 modulesPath + "angular-sanitize/angular-sanitize.js",
 modulesPath + "angular-shims-placeholder/dist/angular-shims-placeholder.js",
 modulesPath + "angular-touch/angular-touch.js",
 modulesPath + "angular-ui-router-breadcrumbs/dist/angular-ui-router-breadcrumbs.js",
 modulesPath + "angular-ui-router/release/angular-ui-router.js",
 modulesPath + "matchmedia-ng/matchmedia-ng.js",
 modulesPath + "matchmedia-polyfill/matchMedia.addListener.js",
 modulesPath + "matchmedia-polyfill/matchMedia.js",
 modulesPath + "moment/min/moment.min.js",
 modulesPath + "ng-csv/build/ng-csv.js",
 modulesPath + "ng-idle/angular-idle.js",
 modulesPath + "ng-joyride/ng-joyride.js",
 modulesPath + "spin.js/spin.js",
];
					</code></pre>
					<div class="notes">
						-- remember our gulpfile from before, that concatenated all our dependencies manually?
						-- not going to cut it with TypeScript - we want all this stuff managed automatically using ES modules
						-- good news: code doesn't need to be written as ES modules to be imported as ES modules
					</div>	
				</section>

				<section>
					<pre><code>
import 'angular';
import 'jquery';
import 'matchmedia-ng';
import 'angular-shims-placeholder';
import 'angular-animate';
import 'angular-sanitize';
import 'angular-touch';
import 'angular-aria';
import 'angular-cookies';
import 'ng-csv';
import 'ng-idle';
import 'ng-joyride';
import 'shine-ui/src/sidebar/sidebar-directive';
import 'shine-ui/src/storage-service';
import 'angular-ui-bootstrap';
import 'angular-ui-router';
import 'angular-ui-router-breadcrumbs/dist/angular-ui-router-breadcrumbs';
import 'angular-ui-swiper/dist/angular-ui-swiper';
import 'angular-nvd3';
import 'spin.js';
					</code></pre>
					<div class="notes">
						-- use import 'module-name' syntax to import all your node module dependencies
						-- don't know of any easy way to automate this as node-modules aren't consistent in naming 
						-- IDE might autocomplete for you
						-- hopefully you don't have too many dependencies...
						-- we were lucky - almost all our dependencies were dependencies of our single Angular module
						-- also need to import all your app files
					</div>
				</section>

				<section>
					<pre><code>
import './components/carbon-neutral/carbon-neutral-service';
import './components/omniture/omniture-service';
import './components/max-value/max-value-directive';
import './components/login-form/login-form-directive';
import './components/form-submit/form-create-submit-directive';
import './components/form-submit/form-submit-directive';
import './components/show-back-button/show-back-button-service';
import './components/date-entry/date-entry-directive';
import './components/eaexpiry-filter/eaexpiry';
import './components/calendar-countdown/calendar-countdown-directive';
import './components/scroll-to-top/scroll-to-top-service';
					</code></pre>
					<div class="notes">
						-- exactly the same approach, except this time it is automatable, because you want to include all 
							 your JavaScript files (except test files, and you've used a sensible naming convention for those, of course)
					</div>
				</section>

				<section>
					<code class="bash">find . -type f -iname '*.js' ! -iname '*_test.js' > legacy-imports.js</code>
					<code class="fragment"></code>
					<div class="notes">
						find & replace regex or multicursor or whatever in IDE -- demo!
					</div>
				</section>

				<section data-background-image="images/station-gates.jpg" data-state="dim">
					<h3 class="solution">Create TypeScript Entry Point</h3>
				</section>

				<section>
						<pre><code>	
angular.module('selfService', 
  [ 'ui-bootstrap', ... ]);
						</code></pre>
					</section>
	

				<section>
					<code>app.js -> app.ts</code>
				</section>

				<section>
					<pre><code data-noescape>
<span class="fragment">import 'legacy-imports';</span>

<span class="fragment">declare const angular: any;</span>

angular.module('selfService', 
	[ 'ui-bootstrap', ... ]);
					</code></pre>
					<div class="notes">
						import all your imports!
						at this point, if you're not using Babel, your build is going to break 
						either set up TSC, or press on!
					</div>
				</section>

				<section data-background-image="images/angular-cli.png" data-state="dim">
					<h2>Angular CLI</h2>
				</section>

				<section>
					<code>ng new myApp</code>
					<div class="notes">
						-- in a normal setup, ng new and away - follow process from previous meet-ups
						-- our app is a Maven app
					</div>
				</section>
		
				<section>
					<pre style="font-size: 60px;">
-- app-name
  -- src
    -- main
      -- java 
      -- webapp  
    -- test
					</pre>
				</section>

				<section>
					<div class="text">Angular CLI project structure<br> is configurable... kind of</div>
				</section>
	
				<section>
					<style>
						pre .highlight {
							color: var(--red);
						}
					</style>
					<pre>
"self-service-app": {
 "root": "",
 "sourceRoot": <span class="highlight">"self-service-app/src/main/webapp/src"</span>,
 "projectType": "application",
 "prefix": "app",
 "schematics": {},
 "targets": {
  "build": {
    "builder": "@angular-devkit/build-angular:browser",
    "options": {
      "outputPath": <span class="highlight">"self-service-app/src/main/webapp/dist/self-service-app"</span>,
      "index": <span class="highlight">"self-service-app/src/main/webapp/src/index.html"</span>,
      "main": <span class="highlight">"self-service-app/src/main/webapp/src/main.ts"</span>,
      "polyfills": <span class="highlight">"self-service-app/src/main/webapp/src/polyfills.ts"</span>,
      "tsConfig": <span class="highlight">"self-service-app/src/main/webapp/src/tsconfig.app.json"</span>,
      "assets": [
        <span class="highlight">"self-service-app/src/main/webapp/src/favicon.ico"</span>,
        <span class="highlight">"self-service-app/src/main/webapp/src/assets"</span>,
        <span class="highlight">"self-service-app/src/main/webapp/src/reference-data"</span>
      ],
      "styles": [<span class="highlight">"self-service-app/src/main/webapp/src/styles.scss"</span>],
      "scripts": [node_modules/angular/angular.js", "node_modules/jquery/dist/jquery.min.js"]
					</pre>
					<div class="notes">
						angular.json
						can update it
					</div>
				</section>

				<section>
					<code class="bash">ng generate component myNewComponent</code>
					<div class="notes">
						At this point, you can just follow the standard Angular upgrade instructions.
					</div>	
				</section>

				<section data-background-image="images/geometry.jpg" data-background-position="top" data-state="dim">
					<h3>Writing Angular</h3>
					<div class="notes">
						check the documentation for how to actually do it
					</div>
				</section>

				<section>
					<ul style="list-style-type: '\2705'">
						<li>Angular component in AngularJS</li>
						<li>AngularJS service in Angular</li>
						<li>Angular service in AngularJS</li>
						<li style="list-style-type: '\1F937'">AngularJS directive in Angular</li>
					</ul>
				</section>

				<section>
					You can upgrade your directive<br> if it could be a component
				</section>

				<section>
						<pre><code class="js" style="font-size: 1">angular.component('my-legacy-component', 
			function () {...})</code></pre>
				</section>
	
				<section>
					<ul>
						<li class="fragment"><code style="font-size: inherit">restrict: 'E'</code></li>
						<li class="fragment">controller & template</li>
						<li class="fragment">isolate scope</li>
						<li class="fragment"><code style="font-size: inherit;">bindToController</code></li>
						<li class="fragment">NO <code style="font-size: inherit">compile</code> or <code style="font-size: inherit">replace</code></li>
					</ul>
				</section>

				<section data-background-image="images/test.jpg" data-state="dim">
					<h2>Testing</h2>
					<div class="notes">
						we had some issues getting our old tests to work under new build system
						- previously testing entire built application
						- now testing individual files, because TypeScript + karma = sadface
					</div>
				</section>

				<section>
					<h3>Do you really need<br> AngularJS tests?</h3>
				</section>


				<section data-background-image="images/New_New_York_Cityscape.webp" data-state="dim">
					<h2>The future</h2>
					<div class="notes">
						So we've moved to a new framework, how are we planning to burn the old codebase in a fire?
					</div>
				</section>

				<section>
					<h2>microfrontends</h2>
					<img src="images/nx-logo.png" class="contrast" style="width: 50vw">
				</section>

				<section data-transition="fade-out">
					<style>
						#old-dashboard .box, #new-dashboard .box {
							stroke: #333;
							fill: none;
							stroke-width: .25;
						}
						#old-dashboard .accordion {
							stroke: none;
						}
						.link {
							fill: none;
							stroke-width: .5;
							stroke: hsl(100, 70%, 60%);
						}
						.link:nth-last-of-type(-n + 4) {
							stroke: green;
						}
						.link.current {
							stroke: red;
						}
					</style>
					<div>
						<div style="display: grid; grid-template-columns: 1fr 1fr"><h3>Hybrid app</h3><h3>Nx app</h3></div>

						<svg viewBox="0 0 200 120">
							<use xlink:href="#old-dashboard" x="35" y="1" />
							<rect class="accordion fragment" data-fragment-index="2" width="27" height="5" rx="2" ry="2" x="36.5" y="33.5" fill="url('#my-account-gradient')"; />
							<use xlink:href="#new-dashboard" class="fragment" data-fragment-index="4" x="135" y="1" />

							<use xlink:href="#child-page" x="2" y="50" class="fragment" data-fragment-index="0" />
							<use xlink:href="#child-page" x="35" y="70" class="fragment" data-fragment-index="0" />
							<use xlink:href="#child-page" x="68" y="55" class="fragment" data-fragment-index="0" />
							<path class="link fragment" d="M38,19 C30,18 10,10 16,52" marker-end="url(#arrow-head)" data-fragment-index="0"/>
							<path class="link fragment" d="M38,25 C35,24 10,20 43,72" marker-end="url(#arrow-head)" data-fragment-index="0"/>
							<path class="link fragment" d="M61,31 C60,30 85,25 83,57" marker-end="url(#arrow-head)" data-fragment-index="0"/>

							<use xlink:href="#child-page" x="105" y="62" class="fragment" data-fragment-index="1" />
							<path class="link fragment" d="M61,36 C65,36 95,16 107,64" marker-end="url(#arrow-head)" data-fragment-index="2"/>

							<path class="link fragment" d="M138,5 C30,5 20,10 16,52" marker-end="url(#arrow-head)" data-fragment-index="5" />
							<path class="link fragment" d="M140,7 C100,24 50,20 43,72" marker-end="url(#arrow-head)" data-fragment-index="5"/>
							<path class="link fragment" d="M138,25 C130,25 85,25 83,57" marker-end="url(#arrow-head)" data-fragment-index="5"/>
							<path class="link fragment" d="M140,30 C140,30 106,30 107,64" marker-end="url(#arrow-head)" data-fragment-index="5"/>

							<line x1="99.5" y1="0" x2="100.5" y2="120" stroke="currentColor" stroke-width="1" />
							<image class="fragment" data-fragment-index="3" xlink:href="images/cookie.png" width="40" height="20" x="80" y="20" />

							<defs>
								<g id="old-dashboard">
									<use xlink:href="#page" />
									<rect class="box" width="12" height="10" x="2" y="3" />
									<rect class="box" width="12" height="10" x="16" y="3" />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="16" fill="url('#my-account-gradient')"; />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="21.5" fill="url('#my-account-gradient')"; />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="27" fill="url('#my-account-gradient')"; />
								</g>
								<g id="new-dashboard">
									<use xlink:href="#page" />
									<rect class="box" width="27" height="6" x="1.5" y="1.5" rx=".5" ry=".5" />
									<rect class="box" width="27" height="6" x="1.5" y="8.5" rx=".5" ry=".5" />
									<rect width="30" height="4"  y="16" fill="green" />
									<rect class="box" width="12.5" height="14" x="1.5" y="22" rx=".5" ry=".5" />
									<rect class="box" width="12.5" height="14" x="15.5" y="22" rx=".5" ry=".5" />
								</g>

								<g id="child-page">
									<use xlink:href="#page" />
									<image xlink:href="images/OzEnergy.png" width="25" height="15" y="10" x="2" />
								</g>
								<rect id="page" width="30" height="40" stroke-width=".5" fill="white" stroke="grey" />
	
								<linearGradient id="my-account-gradient" gradientTransform="rotate(90)">
									<stop offset="20%" stop-color="#7fbe37" />
									<stop offset="90%" stop-color="#59a920" />
								</linearGradient>

								<marker id="arrow-head" markerWidth="12" markerHeight="12" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
									<path d="M0,0 L0,6 L9,3 z" fill="hsl(100, 70%, 60%)" />							
								</marker>
					
							</defs>
						</svg>
					</div>					
				</section>

				<section data-transition="fade-in">
					<div>
						<div style="display: grid; grid-template-columns: 1fr 1fr"><h3>Hybrid app</h3><h3>Nx app</h3></div>

						<svg viewBox="0 0 200 120">
							<line x1="99.5" y1="0" x2="100.5" y2="120" stroke="currentColor" stroke-width="1" />

							<use xlink:href="#new-dashboard" x="135" y="1" />

							<use xlink:href="#child-page" x="2" y="50" />
							<use xlink:href="#child-page" x="35" y="70" />
							<use xlink:href="#child-page" x="68" y="55" />

							<use xlink:href="#child-page" x="105" y="62" />

							<path class="link" d="M138,5 C30,5 20,10 16,52" marker-end="url(#arrow-head)" />
							<path class="link" d="M140,7 C100,24 50,20 43,72" marker-end="url(#arrow-head)" />
							<path class="link" d="M138,25 C130,25 85,25 83,57" marker-end="url(#arrow-head)" />
							<path class="link" d="M140,30 C140,30 106,30 107,64" marker-end="url(#arrow-head)" />

							<image xlink:href="images/cookie.png" width="40" height="20" x="80" y="20" />

							<defs>
								<g id="old-dashboard">
									<use xlink:href="#page" />
									<rect class="box" width="12" height="10" x="2" y="3" />
									<rect class="box" width="12" height="10" x="16" y="3" />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="16" fill="url('#my-account-gradient')"; />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="21.5" fill="url('#my-account-gradient')"; />
									<rect class="accordion" width="27" height="5" rx="2" ry="2" x="1.5" y="27" fill="url('#my-account-gradient')"; />
								</g>
								<g id="new-dashboard">
									<use xlink:href="#page" />
									<rect class="box" width="27" height="6" x="1.5" y="1.5" rx=".5" ry=".5" />
									<rect class="box" width="27" height="6" x="1.5" y="8.5" rx=".5" ry=".5" />
									<rect width="30" height="4"  y="16" fill="green" />
									<rect class="box" width="12.5" height="14" x="1.5" y="22" rx=".5" ry=".5" />
									<rect class="box" width="12.5" height="14" x="15.5" y="22" rx=".5" ry=".5" />
								</g>

								<g id="child-page">
									<use xlink:href="#page" />
									<image xlink:href="images/OzEnergy.png" width="25" height="15" y="10" x="2" />
								</g>
								<rect id="page" width="30" height="40" stroke-width=".5" fill="white" stroke="grey" />
	
								<linearGradient id="my-account-gradient" gradientTransform="rotate(90)">
									<stop offset="20%" stop-color="#7fbe37" />
									<stop offset="90%" stop-color="#59a920" />
								</linearGradient>

								<marker id="arrow-head" markerWidth="12" markerHeight="12" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
									<path d="M0,0 L0,6 L9,3 z" fill="hsl(100, 70%, 60%)" />							
								</marker>
					
							</defs>
						</svg>
					</div>							
				</section>

				<section>
					<ul style="list-style-type: '\2705'">
						<li>🏗️Move to modern framework🏗️</li>
						<li>🔥Burn the old codebase in a fire 🔥</li>
					</ul>
				</section>
	
				<section class="horizontal">
					<img src="images/drupal.png" />
					<img src="images/angular.svg" />
				</section>

				<section class="horizontal">
					<img src="images/nativescript.svg" style="width: 50%" />
					<img src="images/angular.svg" />
				</section>

				<section>
					<img src="images/angular-elements.png" />
				</section>

				<section>
					<code style="font-size: 2.5em">💩 <span class="fragment">-> 🎉💃💃💃🎉</span></code>
					<h3 class="fragment">4 months</h3>
					<div class="notes">
						also developing new features at the same time
					</div>
				</section>

				<section>
					<h3>Lessons learned</h3>
					<ul>
						<li class="fragment">There is hope</li>
						<li class="fragment">A stitch in time...</li>
						<li class="fragment">Write good tests</li>
					</ul>
					<div class="notes">
						even horrible apps can be fixed
						everything will be legacy one day - put in the extra effort now
					</div>
				</section>
	
				<section data-background-image="images/We_Can_Do_It.jpg">
					<style>
						.reveal .card {
							padding: 1em;
							border-radius: 5px;
							background-color: hsla(0, 0%, 0%, .7);
						}
					</style>
					<div class="card fragment">
						<div style="margin-bottom: 30px;">https://ejzimmer.github.io/angular-upgrade-talk</div>
						<div>@ErinJZimmer</div>
					</div>
				</section>



			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				controls: false,
				history: true,
				display: 'flex',
				progress: false,
				center: false,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
